{% extends 'base.html.twig' %}

{% block bodyheader %}
    <h1>
        Editing Password
    </h1>

{% endblock %}
{% block body %}

    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Editing Password</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="box-body">

                <div class="form-group">
                    <label >Label</label>
                    {{ form_widget(form.label, {'attr': {'class': 'form-control','placeholder': 'Label'}}) }}
                </div>

                <div class="form-group">
                    <label >Password</label>
                    <div class="input-group">
                    {{ form_widget(form.password, {'attr': {'class': 'form-control','placeholder': 'Password'}}) }}
                    <span class="input-group-addon"><i class="fa fa-eye"></i></span>

                    </div>
                </div>

                <div class="form-group">
                    <label >Description</label>
                    {{ form_widget(form.description, {'attr': {'class': 'form-control','placeholder': 'Description'}}) }}
                </div>
                <div class="form-group">
                    <label >Date</label>
                    {{ form_widget(form.date_insert, {'attr': {'class': 'form-control','placeholder': 'Date','disabled':'disabled'}}) }}
                </div>

            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <a href="/deletepassword/{{ id }}" type="submit" class="btn btn-danger" >Delete</a>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-success pull-right'}}) }}

            </div>
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}


